# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\eclipse-maven\Proyecto-Platurno-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
